certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
click-option-group==0.5.7
coloredlogs==15.0.1
dnspython==2.7.0
humanfriendly==10.0
ibx-sdk @ git+https://github.com/Infoblox-PS/ibx-sdk.git@d68d2c6ed19a2954bb91ccbc882e159ca3741da9
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
netaddr==1.3.0
packaging==25.0
pip-review==1.3.0
Pygments==2.19.1
requests==2.32.4
rich==14.0.0
urllib3==2.5.0
